﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../images/cryptocurrency.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#heading {
    font-size: 100px;
}

#firstpagemarketinfo {
    color: black;
    position: absolute;
    right: 3%;
    top: 10%;
    font-size: xx-large;
}

#LoginArea {
    position: absolute;
    right: 20%;
    top: 15%;
}

#popup {
    position: absolute;
    top: 0;
    height: 100%;
    width: 60%;
    background-color: white;
    color: black;
    overflow: hidden;
    display: none;
}

.banner {
    position: absolute;
    bottom: 0;
    height: 37.5%;
    width: 60%;
    overflow: hidden;
}

#footer {
    color: white;
    font-size: medium;
    position: absolute;
    top: 25%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
