﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:rgba(0, 100, 180, 0.4);width:100%">
    <h1 id="heading" style="color:deepskyblue">Welcome to <br /> <strong style="color:coral">Crypto Trade Simulator</strong></h1>
    <h2>Learn Everything, Lose Nothing</h2>
    <br /><br /><br /><br /><br />
    <h3>
        We want you to learn everything you can about Crypto Trading <br />
        No obstacles, like price or time delay.<br />
        If this sounds like you, then join us, log in here
    </h3>
</div>

<div>
    <h1><button class="btn btn-default" id="firstpagemarketinfo" onclick="ShowMarketHomePage()">See Current Market</button></h1>
</div>

<div id="myCarousel" class="carousel slide banner" data-ride="carousel" data-interval="10000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/one.png" alt="ASP.NET" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/two.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/three.jpg" alt="Package Management" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/four.png" alt="Microsoft Azure" class="img-responsive" />    
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="popup">
    <br /><br /><br />
    <div class="table-responsive">
        <table class="table table-bordered" style="font-size:large;">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Symbol:</th>
                    <th>Rank:</th>
                    <th>Price_NZD:</th>
                    <th>Price_Btc:</th>
                    <th>Market_Cap_NZD:</th>
                    <th>Total_Supply:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="name"></td>
                    <td id="symbol"></td>
                    <td id="rank"></td>
                    <td id="pricenzd"></td>
                    <td id="pricebtc"></td>
                    <td id="marketcap"></td>
                    <td id="totalsupply"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>